/*You do need to remember that these styles are from the glitch site*/

body {
    text-align: left;
    text-decoration: none;
    text-shadow: 3 black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: white;
    background-color: #500;
    margin: 0%;
    padding: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #f00;
    margin: 0%;
    padding: 4px;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #f00;
    margin: 0%;
    padding: 0px;
}

h1 {
    font-size: 48px;
    margin: 0%;
    background-color: #a00;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #FF0000;
    border-color: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 50%;
    height: auto;
}

.img-place {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
    
.img-box {
    text-align: center;
    margin: 0 10px;
}

.lineTM {
    border: none; 
    height: 3px; 
    background-color: #FFFFFF;
}

.c-align {
    text-align: center;
}

.c-align-iframe {
    display: flex;
    justify-content: center;
}

.banner-box {
    width: 1600px;
    height: 400px;
    overflow: hidden;
}

.side-margins {
    margin-left: 20px;
    margin-right: 20px;
}

.ver {
    padding: 10px;
}
