body {
    text-align: left;
    text-decoration: none;
    text-shadow: black;
    background-color: #a00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}